body {
	margin: 0;
	font-family: "PT Serif", serif;
}
.dek {
  font-size: 1.2em;
  margin-top: 80px;
  line-height: 1.7em;
  text-align: center;
}

.title-background {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s;
  margin-top: 40px;
}
.title-background img {
	width: 100%;
}

#viz, #scroll {
	width: 50%;
}

.above {
	float: left;
	position: relative !important;
	margin-left: 0 !important;
}
.above-2 {
	height: 100vh;
}

#viz {
	position: fixed;
	top: 40px;
	text-align: center;
	padding-top: 20px;
}
#viz .viz-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}
#viz .type-wrapper {
	display: inline-block;
}

#viz .type-wrapper .type-title {
	font-size: 1.2em;
	text-anchor: middle;
}
#viz .winner.selected {
	stroke: #000;
	stroke-width: 2px;
}

#scroll {
	margin-left: 50%;
}
#scroll .frame {
	height: 100vh;
	padding-top: 40px;
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.7em;
	text-align: center;
}
.frame .instructions {
	color: #888; font-size: .8em; font-family: "Open Sans";
}
.frame .scroll {
	font-style: italic;
  font-family: "Open Sans";
}

.legend-text {
	font-family: "Open Sans", sans-serif;
}

.control-rect {
	cursor: ew-resize;
	fill: #444;
	stroke: #aaa;
}
.control-text {
	fill: #fff;
	font-size: .6em;
	text-anchor: middle;
	font-family: "Open Sans", sans-serif;
	cursor: ew-resize;
}
.controls-axis .domain {
	display: none;
}
.controls-axis {
	font-family: "Open Sans", sans-serif;
}

.inline {
	border-radius: 4px;
	padding: 2px 6px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

.inline.male {
	background: #48a2d7;
}
.inline.female {
	background: #e74c3c;
}
.inline.org {
	background: #ccc;
}


/*TIP*/
.tip {
	font-family: "Open Sans", sans-serif;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 1px solid #ccc;
  width: 240px;
  position: absolute;
  padding: 5px;
  text-align: center;
  opacity: .98;
}
.tip .name {
	font-weight: bold;
	font-size: .9em;
}
.tip .year {
	font-size: .8em;
}
.tip .country-of-birth {
	font-size: .7em;
}
.tip .for {
	margin-top: 5px;
	text-align: left;
	font-size: .7em;
}



#time-chart {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 800px;
}
#time-chart .y.axis .domain {
  display: none;
}


.chart {
	font-family: "Open Sans", sans-serif;
}
.chart .chart-title {
	font-weight: bold;
	font-size: 1.1em;
}
.chart .chart-source {
	font-size: .8em;
	color: #888;
	margin-top: 10px;
}

.mobile-only {
	display: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: block;
	}
	#scroll {
		padding: 20px;
		width:auto;
	}
	#viz {
		z-index: -1;
	}
	#scroll {
		margin-left: 0%;
	}
	#scroll .frame {
		text-align: left;
		font-size: 1em;
		max-width: 600px;
		padding-top: 0px;
		height: auto;
	}
	#scroll .frame img, .copy img {
		width: 100%;
		margin: 20px 0px;
	}

	.instructions {
		display: none;
	}
	#scroll p {
		background: rgba(255, 255, 255, .9);
	}
	#time-chart {
		padding-left: 10px;
    padding-right: 10px;
	}
	.dek {
		text-align: left;
	}
}