body {
	margin: 0;
	font-family: "PT Serif", serif;
}
p.dek {
  font-size: 1.2em;
  margin-top: 80px;
  line-height: 1.7em;
}

.title-background {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s;
  margin-top: 40px;
}
.title-background img {
	width: 100%;
}

#viz, #scroll {
	width: 50%;
}

.above {
	float: left;
	position: relative !important;
	margin-left: 0 !important;
}

#viz {
	position: fixed;
	top: 40px;
	text-align: center;
	padding-top: 20px;
}
#viz .viz-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}
#viz .type-wrapper {
	display: inline-block;
}

#viz .type-wrapper .type-title {
	font-size: 1.2em;
	text-anchor: middle;
}

#scroll {
	margin-left: 50%;
}
#scroll .frame {
	height: 100vh;
	padding-top: 40px;
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.2em;
}

.control-rect {
	cursor: ew-resize;
}
.control-text {
	fill: #fff;
	font-size: .6em;
	text-anchor: middle;
	font-family: "Open Sans", sans-serif;
	cursor: ew-resize;
}
.controls-axis .domain {
	display: none;
}
